@use '@/src/sass/base/vars' as *;
@use '@/src/sass/extends' as *;

div.form-wrapper-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: $mobile;
  text-align: center;

  &.auth-form-wrapper,
  &.create-order-form-wrapper {
    width: 100%;
  }

  &.create-order-form-wrapper {
    @extend %extends-hide-scrollbar;
    max-height: 100svh;
    overflow-y: scroll;
  }

  &.edit-username-form-wrapper {
    width: 100%;
    gap: 3rem;
  }
}
