@use '@/src/sass/base/vars' as *;

div.page-container {
  margin: 0 auto;
  width: 100%;
  min-width: $min;
  max-width: $tablet;

  &.MAIN {
    margin: calc($headerHeight + 1.5rem) auto calc($footerHeight + 1.5em);
    background-color: darkgray;
  }
}
