@use '@/src/sass/base/vars' as *;

div.page-container {
  margin: 0 auto;
  width: 100%;
  min-width: $min;
  max-width: $tablet;

  &.MAIN {
    min-height: calc(100svh - $footerHeight);
    background-color: teal;
  }
}
