@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

$mediaWidth: $mobile + 140px;

div.sections-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  > div.sections-container-strategy-order-list-block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
