@use '@/src/sass/base/vars.scss';

button.default-button {
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  color: vars.$white;
  background-color: vars.$blue;
  border: solid;
  border-radius: 0.5rem;
  border-color: vars.$blue;
  cursor: pointer;

  &.disabled,
  &:hover {
    background-color: vars.$blueHover;
    border-color: vars.$blueHover;
  }

  &.toggle-password-visibility {
    position: absolute;
    right: 1rem;
    top: 50%;
    padding: 0;
    transform: translateY(-50%);
    width: 1.2rem;
    height: 1.2rem;
    color: vars.$middleLightGray;
    background-color: transparent;
    border: none;

    &:hover {
      color: vars.$middleDarkGray;
    }
  }
}
