@use '@/src/sass/base/vars.scss' as *;

.signin-google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  font-size: medium;
  font-weight: bold;
  color: $middleDarkGray;
  border: 1px solid $middleDarkGray;
  border-radius: 0.5rem;
  background-color: transparent;

  .google-icon {
    margin-right: 1rem;
    width: 1.15rem;
    height: 1.15rem;
  }

  &:hover {
    cursor: pointer;
    background-color: $colorLight;
  }
}
