@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

button.uni-button {
  padding: 1rem;
  width: 100%;
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: 0.015rem;
  color: $colorButton;
  background-color: $bgButtonActive;
  border-radius: 0.2rem;
  transition: background-color $ease03s, color $ease03s;
  user-select: none;

  &:hover {
    color: $white;
    background-color: $bgButtonInactive;
  }

  &.toggle-password-visibility {
    position: absolute;
    right: 1rem;
    top: 50%;
    padding: 0;
    transform: translateY(-50%);
    width: 1.2rem;
    height: 1.2rem;
    color: $middleLightGray;
    background-color: transparent;
    border: none;

    &:hover {
      color: $middleDarkGray;
    }
  }

  &.option-editor-button {
    height: 100%;
    background-color: transparent;

    > svg {
      fill: $colorLight;
    }

    &:hover {
      > svg {
        fill: $colorAccent;
        transition: fill 0.3s ease;
      }
    }

    @include media-screen-orientation('min', $tablet) {
      width: 4rem;
    }
  }

  &.delete-user-button {
    color: $white;
    background-color: $lightRed;

    &:hover {
      background-color: $googleRed;
    }
  }

  &.switch-button {
    padding: 0;
    margin: auto 0;
    width: 42px;
    height: 1.37rem;
    border: none;
    background-color: transparent;
  }

  &.disabled {
    background-color: $bgButtonDesabled;
    color: $colorButtonDisabled;
    cursor: auto !important;

    &:hover {
      background-color: $bgButtonDesabled;
      color: $colorButtonDisabled;
    }
  }
}
