@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

button.uni-button {
  padding: 1rem;
  width: 100%;
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: 0.015rem;
  color: $colorButton;
  background-color: $bgButtonActive;
  border-radius: 0.2rem;
  transition: background-color $ease03s, color $ease03s;
  user-select: none;

  &:hover {
    color: $white;
    background-color: $bgButtonInactive;
  }

  &.toggle-password-visibility {
    position: absolute;
    right: 1rem;
    top: 50%;
    padding: 0;
    transform: translateY(-50%);
    width: 1.2rem;
    height: 1.2rem;
    color: $middleLightGray;
    background-color: transparent;
    border: none;

    &:hover {
      color: $middleDarkGray;
    }
  }

  &.option-editor-button {
    height: 100%;
    background-color: transparent;

    > svg {
      fill: $colorLight;
    }

    &:hover {
      > svg {
        fill: $colorAccent;
        transition: fill 0.3s ease;
      }
    }

    @include media-screen-orientation('min', $tablet) {
      width: 4rem;
    }
  }

  &.delete-user-button {
    color: $white;
    background-color: $lightRed;

    &:hover {
      background-color: $googleRed;
    }
  }

  &.switch-button {
    padding: 0;
    margin: auto 0;
    width: 42px;
    height: 1.37rem;
    border: none;
    background-color: transparent;
  }

  &.disabled {
    background-color: $bgButtonDesabled;
    color: $colorButtonDisabled;
    cursor: auto !important;

    &:hover {
      background-color: $bgButtonDesabled;
      color: $colorButtonDisabled;
    }
  }

  &.main-heading-button {
    position: absolute;
    top: -10px;
    right: 0;
    padding: 11px;
    max-width: 100px;
    font-size: 0.8rem;
  }

  &.main-heading-return-button {
    position: relative;
    display: flex;
    padding: 0;
    width: 27px;
    height: 1rem;
    background-color: transparent;

    > svg {
      position: absolute;
      top: -5px;
      fill: $greyDark;
    }
  }

  &.admin-heading-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 2px;
    width: 40px;
    height: 40px;
    background-color: transparent;

    &.disabled {
      color: red;

      &:hover {
        background-color: transparent;
        // color: $colorButtonDisabled;
      }
    }
  }

  // &.main-divider-section-filter-reset-button {
  //   position: absolute;
  //   top: 0;
  //   right: -30px;
  //   padding: 0;
  //   background-color: transparent;
  //   width: 30px;
  //   height: 20px;
  //   // background-color: tomato;
  // }

  &.main-divider-section-average-price-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    max-width: 35px;
    height: 20px;
    font-size: 0.7rem;
    background-color: transparent;
    border-radius: $smallBorderRadius;
    // transition: $ease03s;

    &.color-green {
      color: $googleGreen;
      border: 0.08rem solid $googleGreen;
    }

    &.color-blue {
      color: $googleBlue;
      border: 0.08rem solid $googleBlue;
    }
  }

  &.main-divider-section-sort-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    min-width: 65px;
    max-width: 60px;
    height: 20px;
    background-color: transparent;
    border: 0.08rem solid $greyDeepDark;
    border-radius: $smallBorderRadius;
    transition: $ease03s;

    > span {
      transition: $ease03s;
      font-size: 0.6rem;
      color: $greyDark;

      @include media-screen-orientation('min', $tablet) {
        padding-bottom: 1px;
      }
    }

    &:hover {
      border-color: $colorAccent;

      > span {
        color: $colorAccent;
      }
    }
  }

  &.strategy-order-edit-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    min-width: 46px;
    height: 30px;
    border-radius: 0;
    background-color: transparent;

    @include media-screen-orientation('min', $tablet) {
      height: 32px;
    }

    &:last-child {
      border-left: 0.05rem solid $greyDark;
    }

    > svg {
      transition: stroke $ease03s;
    }

    &:hover {
      > svg {
        stroke: $colorAccent;
      }
    }
  }
}
