@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

button.uni-button {
  padding: 1rem;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
  color: $colorButton;
  background-color: $bgButtonActive;
  border-radius: 0.2rem;
  transition: $ease03s;

  &:hover {
    color: $white;
    background-color: $bgButtonInactive;
  }

  // &.active {
  //   background-color: $bgButtonActive;

  //   &:hover {
  //     color: $white;
  //     background-color: $bgButtonInactive;
  //   }
  // }

  // &.inactive {
  //   background-color: $bgButtonInactive;
  //   // color: $white;

  //   &:hover {
  //     background-color: $bgButtonActive;
  //   }
  // }

  &.disabled {
    background-color: $bgButtonDesabled;
    color: $colorButtonDisabled;

    &:hover {
      background-color: $bgButtonDesabled;
      color: $colorButtonDisabled;
    }
  }

  // &:hover {
  //   background-color: $bgButtonInactive;
  //   color: $white;
  //   // border-color: vars.$blueHover;
  // }

  // &.toggle-password-visibility {
  // position: absolute;
  // right: 1rem;
  // top: 50%;
  // padding: 0;
  // transform: translateY(-50%);
  // width: 1.2rem;
  // height: 1.2rem;
  // color: vars.$middleLightGray;
  // background-color: transparent;
  // border: none;

  // &:hover {
  //   color: vars.$middleDarkGray;
  // }
  // }

  &.settings-modal-close-button {
    padding: 0;
    width: 3rem;
    height: 3rem;
    background-color: transparent;

    > svg {
      fill: $greyLight;

      &:hover {
        fill: $red;
      }
    }
  }
}
