@use '@/src/sass/base/vars' as *;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: $black;
}

// --- Hide scrollbar for all elements:
body,
* {
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // Internet Explorer 10+
}
*::-webkit-scrollbar {
  display: none; // Safari and Chrome
}
