.signin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  background-color: hsl(0, 0%, 97.5%);

  .signin-card {
    width: 20rem;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px hsl(0, 0%, 70%);
    background-color: white;
    text-align: center;

    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
