@use '@/src/sass/base/vars' as *;

header.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: $headerHeight;
  background-color: $blackMiddle;
  background: linear-gradient(to top, $blackMiddle, $black);
  z-index: $headerZIndex;
  box-shadow: $shadow;

  .header-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
}
