@use '@/src/sass/base/vars' as *;

div.logo-block {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0 0.8rem;

  > svg {
    fill: $colorLight;
    transform: rotate(-25deg);
  }

  &.home-page-logo {
    flex-direction: column;
    gap: 1.5rem;

    > svg {
      fill: $colorLight;
      transform: rotate(-25deg);
    }
  }
}
