@use '@/src/sass/base/vars' as *;

div.logo-block {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0 0.8rem;

  > svg {
    fill: $colorLight;
    transform: rotate(-25deg);
  }

  > a {
    display: flex;
    gap: 0.5rem;

    /*
    > h1 {}
    // */

    > span.logo-pwa {
      font-size: 1.3rem;
      font-weight: 600;
      color: $violetDark;
    }
  }

  &.home-page-logo {
    flex-direction: column;
    gap: 1.5rem;

    > svg {
      fill: $colorLight;
      transform: rotate(-25deg);
    }
  }
}
