@use '@/src/sass/mixins' as *;
@use '@/src/sass/base/vars' as *;

main.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 5rem;
  margin: 0 auto;
  width: calc(100% - 2rem);

  &.auth,
  &.auth-success,
  &.auth-error {
    align-items: center;
    padding: 1rem 0;
  }

  &.auth-success,
  &.auth-error {
    gap: 5rem;
  }

  .main-heading {
    display: flex;
    justify-content: space-between;

    > span.user-role {
      display: flex;
      align-items: center;
      padding: 0 0.2rem;
      font-size: 0.6rem;
      color: $colorAccent;
      border: 0.08rem solid $colorAccent;
      border-radius: 0.15rem;
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .main-loader-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60svh;
  }
}
