@use '@/src/sass/mixins.scss' as *;
@use '@/src/sass/base/vars' as *;

nav.nav {
  display: flex;
  align-items: center;

  > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 100%;

    &.active {
      background-color: rgba(0, 0, 0, 0.152);
    }
  }
}
