@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

input {
  background-color: unset;
  background: unset;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
  font-size: 16px !important;
}

input.default-input {
  padding: 1rem;
  width: calc(100% - 2rem - 2px);
  font-size: 16px;
  color: $greyMiddle;
  background-color: $greyDeepDark;
  border-radius: $middleBorderRadius;
  border: 1px solid $greyDeepDark;
  outline: none;
  transition: $ease03s;
  --webkit-autofill-font-size: 16px;

  &::placeholder {
    color: $greyDark;
  }

  &:focus {
    color: $greyLight;
  }

  /*
  &.disable {}
  */

  /*
  &:focus {
    color: vars.$middleDarkGray;
    border-color: vars.$middleDarkGray;

    &::placeholder {
      color: vars.$middleDarkGray;
    }
  }

  &.error {
    color: vars.$red;
    border-color: vars.$red;

    &::placeholder {
      color: vars.$red;
    }

    &:focus {
      color: vars.$middleDarkGray;
      border-color: vars.$middleDarkGray;

      &::placeholder {
        color: vars.$middleLightGray;
      }
    }
  }
  */

  /*
  &.custom-token-price-input {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0 10.6px 0;
    width: 70px;
    height: 0.9rem;
    font-size: 0.9rem;
    color: $googleBlue;
    background-color: transparent;
    border: none;
    border-radius: 0;

    &::placeholder {
      color: $blue;
    }

    &:focus {
      &::placeholder {
        color: transparent;
      }
    }

    @include media-screen-orientation('min', $tablet) {
      font-size: 1rem;
    }

    @include media-screen-orientation('min', $mobile + 200) {
      width: 50px;
    }

    @include media-screen-orientation('min', $tablet) {
      width: 70px;
    }
  }
  */
}
