@use '@/src/sass/base/vars' as *;
@use '@/src/sass/extends' as *;
@use '@/src/sass/mixins' as *;

div.default-select {
  position: relative;
  width: 100%;
  height: 53px;
  user-select: none;

  /*
  &.light-select-theme {
    > div.default-select-selected,
    > span.default-select-selected-disable {
      // background-color: $light;
      background-color: teal;
    }

    > ul.default-select-option-list {
      padding: 0;
      padding-top: 5px;
      // background-color: $light;
      background-color: tomato;
    }
  }
  */

  > div.default-select-selected,
  > span.default-select-selected-disable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
    text-align: left;
    cursor: pointer;

    background-color: $greyDeepDark;
    border-radius: $middleBorderRadius;

    &.option-selected {
      > span {
        color: $greyMiddle;
      }
    }

    > svg {
      stroke: $greyMiddle;
    }
  }

  > div.default-select-selected {
    > span {
      color: $greyDark;
    }
  }

  &.open {
    > div.default-select-selected {
      border-radius: $middleBorderRadius $middleBorderRadius 0 0;
      border-bottom: 1px solid $greyDark;
    }

    &.empty {
      > div.default-select-selected {
        border-radius: $middleBorderRadius;
        border-bottom: none;
      }
    }
  }

  > div.default-select-dropdown {
    > input.default-select-search {
      position: absolute;
      top: 0;
      left: 0;
      height: 3rem;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      height: 53px;
      width: 8rem;
      color: $greyMiddle;
      // background-color: blue;
      background-color: $greyDeepDark;
      border-radius: $middleBorderRadius;
      z-index: 11;

      &::placeholder {
        color: $greyDark;
      }
    }
  }

  > span.default-select-selected-disable {
    cursor: auto;
    color: $greyMiddle;
  }

  > ul.default-select-option-list {
    @extend %extends-hide-scrollbar;
    position: absolute;
    left: 0;
    width: 100%;
    max-height: 41svh;
    max-height: 215px;
    background-color: $greyDeepDark;
    border-radius: 0 0 $middleBorderRadius $middleBorderRadius;
    overflow-y: auto;
    z-index: 10;
    box-shadow: $shadow;

    > li.default-select-option-list-item {
      display: flex;
      align-items: center;
      padding: 0 1rem;
      height: 53px;
      color: $greyMiddle;
      // background-color: $greyDeepDark;
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: 1px solid $greyDark;
      }

      &:hover {
        background-color: $greyDark;
        color: $greyLight;
      }
    }
  }
}
