@use '@/src/sass/base/vars' as *;

input.default-input {
  padding: 1rem;
  width: calc(100% - 2rem - 2px);
  font-size: 16px;
  color: $greyMiddle;
  background-color: $greyDeepDark;
  border-radius: 0.2rem;
  border: 1px solid $greyDeepDark;
  outline: none;
  transition: $ease03s;

  &:focus {
    color: $greyLight;
  }

  /*

  &:focus {
    color: vars.$middleDarkGray;
    border-color: vars.$middleDarkGray;

    &::placeholder {
      color: vars.$middleDarkGray;
    }
  }

  &.error {
    color: vars.$red;
    border-color: vars.$red;

    &::placeholder {
      color: vars.$red;
    }

    &:focus {
      color: vars.$middleDarkGray;
      border-color: vars.$middleDarkGray;

      &::placeholder {
        color: vars.$middleLightGray;
      }
    }
  }
  */
}
