@use '@/src/sass/base/vars' as *;

div.divider {
  display: flex;
  align-items: center;
  width: 75%;
  padding: 0 1.5rem;

  .line {
    flex-grow: 1;
    height: 0.05rem;
    background-color: $greyDark;
  }

  .or {
    padding: 0 1rem;
    color: $greyDark;
  }
}
