div.info-status-block {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.5rem;
  padding: 1rem 1rem;

  .icon {
    margin-right: 0.8rem;
    font-size: 1rem;
  }

  p {
    margin: 0;
    font-size: 0.8rem;
    text-align: start;
  }

  &.success {
    color: hsl(124, 100%, 22%);
    background-color: hsl(125, 100%, 87%);
  }

  &.error {
    color: hsl(0, 100%, 50%);
    background-color: hsl(0, 100%, 90%);
  }
}
