@use '@/src/sass/base/vars' as *;

div.info-status-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: red;

  // > svg.info-status-block-icon {} // *

  > span.info-status-block-title,
  p.info-status-block-text {
    color: $white;
  }

  > span.info-status-block-title {
    font-size: 2rem;
    text-transform: capitalize;
  }

  > p.info-status-block-text {
    font-size: 1.2rem;
  }

  // &.success {
  //   color: hsl(124, 100%, 22%);
  //   background-color: hsl(125, 100%, 87%);
  // }

  // &.error {
  //   color: hsl(0, 100%, 50%);
  //   background-color: hsl(0, 100%, 90%);
  // }
}
