@use '@/src/sass/base/vars' as *;

div.info-status-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  // > svg.info-status-block-icon {} // *

  > span.info-status-block-title,
  p.info-status-block-text {
    color: $white;
  }

  > span.info-status-block-title {
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
  }

  > p.info-status-block-text {
    font-size: 1.5rem;
    color: $greyLight;
  }
}
