@use '@/src/sass/mixins' as *;
@use '@/src/sass/base/vars' as *;

/*
// General
section.section.account-snapshot {}
*/

// Custom
section.account-snapshot,
section.order-list-snapshot {
  > ul.snapshot-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.7rem;
    user-select: none;

    > li.snapshot-item {
      &:not(:last-child) {
        border-right: 0.05rem solid $greyDark;
      }

      .item-content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        > span {
          &.content-name {
            color: $colorAccent;
            font-size: 0.7rem;
          }

          &.content-value {
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  @include media-screen-orientation('min', $tablet) {
    > ul.snapshot-list {
      > li.snapshot-item {
        .item-content {
          > span {
            &.content-value {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

/* --- Three equal columns (1:1)

ul.snapshot-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  > li.snapshot-item {
    position: relative;
    padding-top: 50%; // Item aspect ratio

    .item-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
*/
