@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

section.add-token {
  > div.add-token-section-content {
    display: grid;
    gap: 1rem;

    > ul.add-token-section-list {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      gap: 0.5rem;

      span.add-token-section-list-item-value {
        line-height: 1.2rem;
      }
    }

    > div.add-token-section-button-block {
      @include media-screen-orientation('max', $mobile + 199.9) {
        padding-top: 1rem;
        border-top: 0.05rem solid $greyDark;
      }
    }
  }

  @include media-screen-orientation('min', $mobile + 200) {
    > div.add-token-section-content {
      grid-template-columns: 1fr 14rem;
      gap: 0.7rem;

      > div.add-token-section-button-block {
        padding-left: 0.7rem;
        border-left: 0.05rem solid $greyDark;
      }
    }
  }

  @include media-screen-orientation('min', $tablet) {
    > div.add-token-section-content {
      gap: 1rem;

      > div.add-token-section-button-block {
        padding-left: 1rem;
      }
    }
  }
}
