@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

section.chart {
  display: flex;
  flex-direction: column;
  height: 480px;

  @include media-screen-height('min', 500px) {
    height: calc(100svh - 224px);
  }

  > div.chart-section-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    background-color: $black;

    > div.chart-section-select-wrapper {
      display: flex;
      gap: 1rem;

      > :first-child {
        flex: 3 1 65%; // First Select: 65%
      }

      > :last-child {
        flex: 2 1 35%; // Second Select: 35%
      }

      /*
      @include media-screen-height('min', 500px) {}
      @include media-screen-orientation('max', $tablet - 0.1) {
        flex-direction: column;
      }
      */
    }
  }
}
