@use '@/src/sass/mixins' as *;
@use '@/src/sass/base/vars' as *;

section.section {
  min-height: 3.5rem;
  background-color: $greyDeepDark;
  border-radius: 0.2rem;

  > div.section-content,
  > ul.section-content {
    padding: 0.7rem;
  }

  @include media-screen-orientation('min', $tablet) {
    min-height: 4.2rem; // *

    > div.section-content,
    > ul.section-content {
      padding: 1rem;
    }
  }
}
