@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

// General
section.section.hodl-target-list {
  // min-height: 2.5rem;
  background-color: transparent;

  // @include media-screen-orientation('min', $tablet) {
  //   min-height: 3rem;
  // }

  // &.empty {
  //   min-height: 0;
  // }

  > div.section-content {
    // background-color: teal;
    padding: 0;
  }
}

// Custom
section.hodl-target-list {
  > div.section-content.hodl-target-list {
    // > span.order-list-header {
    //   display: flex;
    //   height: 0.1rem;
    //   background-color: $greyDark;

    //   &.BUY {
    //     background-color: $googleGreen;
    //   }

    //   &.SELL {
    //     background-color: $googleRed;
    //   }
    // }

    > ul.section-hodl-target-list {
      display: flex;
      flex-direction: column;
      gap: 2px;
      // background-color: black;
      // padding: 0;
      // display: flex;
      // flex-direction: column;

      > li.section-hodl-target-list-item {
        // margin-bottom: 10px;
        // background-color: $blue;
        // display: flex;
        // align-items: center;
        // height: 40px;

        // @include media-screen-orientation('min', $tablet) {
        //   height: 48px;
        // }

        // &:first-child() {
        //   > div.section-hodl-target-list-item-content {
        //   }
        // }

        &:first-child {
          > div.section-hodl-target-list-item-content {
            border-radius: $middleBorderRadius $middleBorderRadius 0 0;

            > span.hodl-target-values-symbol {
              border-radius: $middleBorderRadius 0 0 0;
            }

            > div.hodl-target-values-block {
              > span.hodl-target-part {
                &:nth-child(4) {
                  border-radius: 0 $middleBorderRadius 0 0;
                }
              }
            }
          }
        }

        &:last-child {
          > div.section-hodl-target-list-item-content {
            border-radius: 0 0 $middleBorderRadius $middleBorderRadius;

            > span.hodl-target-values-symbol {
              border-radius: 0 0 0 $middleBorderRadius;
            }

            > div.hodl-target-values-block {
              > span.hodl-target-part {
                &:nth-child(4) {
                  border-radius: 0 0 $middleBorderRadius 0;
                }
              }
            }
          }
        }

        &.single-item {
          > div.section-hodl-target-list-item-content {
            > span.hodl-target-values-symbol {
              border-radius: $middleBorderRadius 0 0 $middleBorderRadius;
            }

            > div.hodl-target-values-block {
              > span.hodl-target-part {
                &:nth-child(4) {
                  border-radius: 0 $middleBorderRadius $middleBorderRadius 0;
                }
              }
            }
          }
        }

        > div.section-hodl-target-list-item-content {
          display: flex;
          background-color: $blackMiddle;
          user-select: none;

          > span.hodl-target-values-symbol {
            padding: 0.7rem;
            min-width: 60px;
            font-size: 0.9rem;
            background-color: $greyDeepDark;
            cursor: pointer;

            &.achieved {
              background-color: $googleGreen;
              color: $blackMiddle;
            }

            &.closed {
              background-color: $blue;
            }

            @include media-screen-orientation('min', $tablet) {
              padding: 1rem;
              font-size: 1rem;
            }
          }

          > div.hodl-target-values-block {
            display: flex;
            align-items: center;
            width: 100%;

            > span.hodl-target-part {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              width: 25%;
              height: 100%;
              font-size: 0.7rem;

              @include media-screen-orientation('min', $tablet) {
                width: 25%;
                font-size: 1rem;
              }

              > span {
                padding-right: 0.7rem;
                font-weight: 500;

                @include media-screen-orientation('min', $tablet) {
                  padding-right: 0.9rem;
                }
              }

              // &.init {
              //   background-color: $greyDark;

              //   > span {
              //     // padding-bottom: 1px;
              //     color: $greyMiddle;
              //     font-weight: 500;
              //   }
              // }

              &.active {
                background-color: $greyDeepDark;
                cursor: pointer;

                > span {
                  // padding-bottom: 1px;
                  color: $greyMiddle;
                  // font-weight: 500;
                }
              }

              &.achieved {
                background-color: $googleGreen;
                cursor: pointer;

                > span {
                  // padding-bottom: 1px;
                  // font-weight: 500;
                  color: $blackMiddle;
                  // font-weight: 600;
                }
              }

              &.closed {
                background-color: $blue;
                cursor: pointer;
              }

              /*
              &:nth-child(1),
              &:nth-child(3) {
                background-color: black;
              }

              &:nth-child(2),
              &:nth-child(4) {
                background-color: tomato;
              }
              */
            }
          }
        }
      }
    }
  }
}
