@use '@/src/sass/mixins' as *;
@use '@/src/sass/base/vars' as *;

// General
section.section.ls-trade-strategy-modal,
section.section.ls-trade-strategy-modal-scrollable {
  background-color: transparent;
}

// Custom
section.ls-trade-strategy-modal-scrollable {
  height: 100svh;
  overflow-y: scroll;
  scrollbar-width: none;
}

section.ls-trade-strategy-modal,
section.ls-trade-strategy-modal-scrollable {
  // position: relative;

  div.section-content.ls-trade-strategy-modal-new-entry-block {
    width: calc(300px - 1.4rem);
  }

  div.section-content.ls-trade-strategy-modal {
    > ul {
      display: grid;
      gap: 1rem;

      &.ls-trade-strategy-modal-section-list {
        /*
        @include media-screen-orientation('max', $tablet - 0.1) {
          padding-bottom: 2rem;
        }
        */

        > li.ls-trade-strategy-modal-section-list-item {
          position: relative;
          aspect-ratio: 1 / 1;
          width: 140px;
          border: 1px solid $googleYellow;
          border-radius: $middleBorderRadius;
        }
      }
    }
  }
}
