@use '@/src/sass/mixins' as *;
@use '@/src/sass/base/vars' as *;

// General
section.section.strategy-history-modal,
section.section.strategy-history-modal-scrollable {
  background-color: transparent;
  background-color: tomato;
}

// Custom
section.strategy-history-modal-scrollable {
  height: 100svh;
  overflow-y: scroll;
  scrollbar-width: none;
}

section.strategy-history-modal,
section.strategy-history-modal-scrollable {
  // position: relative;

  // div.section-content.strategy-history-modal-new-entry-block {
  //   width: calc(300px - 1.4rem);
  // }

  div.section-content.strategy-history-modal {
    > ul {
      display: grid;
      gap: 1rem;

      &.strategy-history-modal-list {
        /*
        @include media-screen-orientation('max', $tablet - 0.1) {
          padding-bottom: 2rem;
        }
        */

        > li.strategy-history-modal-list-item {
          position: relative;
          aspect-ratio: 1 / 1;
          width: 140px;
          border: 1px solid $googleYellow;
          border-radius: $middleBorderRadius;
        }
      }
    }
  }
}
