@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

section.main-divider {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-height: 22px;

  > span {
    &.main-divider-section-title {
      font-size: 0.9rem;
      color: $greyDark;
      white-space: nowrap;
    }

    &.main-divider-section-divider {
      width: 100%;
      height: 0.05rem;
      background-color: $greyDeepDark;
    }
  }

  &.order-list-devider {
    padding: 0.5rem 0;

    /*
    @include media-screen-orientation('min', $tablet) {}
    */
  }
}
