@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

// ------ General:

section.main-divider {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-height: 22px;
  user-select: none;

  > span {
    &.main-divider-section-title {
      font-size: 0.9rem;
      color: $greyDark;
      white-space: nowrap;
    }

    &.main-divider-section-subtitle {
      font-weight: 500;
      color: $violetLight;

      &.color-green {
        color: $googleGreen;
      }

      &.color-blue {
        color: $googleBlue;
      }
    }

    &.main-divider-section-divider {
      width: 100%;
      height: 0.05rem;
      background-color: $greyDeepDark;
    }
  }

  // ------ Custom:

  &.order-list-devider,
  &.settings-devider {
    padding: 0.5rem 0;

    /*
    @include media-screen-orientation('min', $tablet) {}
    */
  }
}
