@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

// ------ General:

section.main-divider {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-height: 22px;
  user-select: none;

  > span {
    &.main-divider-section-title {
      font-size: 0.9rem;
      color: $greyDark;
      white-space: nowrap;
    }

    &.main-divider-section-subtitle {
      font-weight: 500;
      color: $colorAccent;

      &.color-green {
        color: $googleGreen;
      }

      &.color-blue {
        color: $googleBlue;
      }
    }

    &.main-divider-section-avg {
      font-weight: 500;
      color: $colorAccent;

      &.color-green {
        color: $googleGreen;
      }

      &.color-blue {
        color: $googleBlue;
      }
    }

    &.main-divider-section-divider {
      width: 100%;
      height: 0.05rem;
      background-color: $greyDeepDark;

      // display: none;
    }
  }

  > div.main-divider-section-btc-link-box {
    position: relative;
    min-width: 30px;

    > a.main-divider-section-btc-link {
      position: absolute;
      top: -21px;
      padding-top: 6px;
      width: 40px;
      height: 34px;

      > svg {
        fill: $btcColor;
      }

      &.stop-loss {
        > svg {
          fill: $googleRed;
        }
      }

      &.buy {
        > svg {
          fill: $googleBlue;
        }
      }

      &.sell {
        > svg {
          fill: $googleGreen;
        }
      }
    }
  }

  > div.main-divider-section-eth-link-box {
    position: relative;
    min-width: 30px;

    > a.main-divider-section-eth-link {
      position: absolute;
      top: -21px;
      padding-top: 6px;
      width: 40px;
      height: 34px;

      > span.main-divider-section-eth-icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 29px;
        height: 29px;
        background-color: $greyDeepDark;
        border-radius: 50%;

        > svg {
          width: 18px;
        }

        &.stop-loss {
          background-color: $googleRed;
        }

        &.buy {
          background-color: $googleBlue;
        }

        &.sell {
          background-color: $googleGreen;
        }

        &.stop-loss,
        &.sell,
        &.buy {
          > svg path {
            &:nth-child(1),
            &:nth-child(4) {
              fill: $greyDark;
            }

            &:nth-child(2) {
              fill: $googleGreenMiddleDark;
            }

            &:nth-child(3),
            &:nth-child(5) {
              fill: $black;
            }
          }
        }
      }
    }
  }

  > div.main-divider-section-filter-input-block {
    position: relative;
    display: flex;
    width: 100px;

    > input.main-divider-section-filter-input {
      position: absolute;
      top: -30px;
      padding: 0 0.25rem;
      width: 55px;
      height: 60px;
      color: $colorAccent;
      background-color: transparent;
      border-radius: $smallBorderRadius;

      &::placeholder {
        font-size: 0.9rem;
        color: $greyDark;
      }
    }
  }

  // ------ Custom:

  &.admin-main-content-devider,
  &.prices-devider,
  &.order-list-devider,
  &.settings-devider {
    padding: 0.5rem 0;

    /*
    @include media-screen-orientation('min', $tablet) {}
    */
  }
}
