@use '@/src/sass/mixins' as *;
@use '@/src/sass/base/vars' as *;

section {
  &.settings {
    min-height: 3.5rem;
    background-color: $greyDeepDark;
    border-radius: 0.2rem;

    &.option {
      display: flex;
      justify-content: space-between;
      gap: 0.7rem;

      .option-content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.7rem;

        > span {
          &.content-name {
            color: $colorAccent;
            font-size: 0.7rem;
          }

          &.content-value {
            font-size: 0.9rem;
          }
        }
      }

      @include media-screen-orientation('min', $tablet) {
        .option-content {
          padding: 1rem;
        }
      }

      .option-editor {
        > button.option-editor-button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3rem;
          height: 100%;
          cursor: pointer;

          > svg {
            fill: $colorLight;
          }

          &:hover {
            > svg {
              fill: $colorAccent;
              transition: fill 0.3s ease;
            }
          }
        }
      }
    }
  }
}
