@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

// General
section.section.order-list {
  min-height: 2.5rem;

  @include media-screen-orientation('min', $tablet) {
    min-height: 3rem;
  }

  &.empty {
    min-height: 0;
  }

  > div.section-content {
    padding-top: 0;
    padding-bottom: 0;
  }
}

// Custom
section.order-list {
  > div.section-content.order-list {
    > span.order-list-header {
      display: flex;
      height: 0.1rem;
      background-color: $greyDark;

      &.BUY {
        background-color: $googleGreen;
      }

      &.SELL {
        background-color: $googleRed;
      }
    }

    > ul.section-order-list {
      padding: 0;
      display: flex;
      flex-direction: column;

      > li.section-order-list-item {
        display: flex;
        align-items: center;
        height: 40px;
        // background-color: teal;

        @include media-screen-orientation('min', $tablet) {
          height: 48px;
        }

        &:not(:last-child) {
          border-bottom: 0.05rem solid $greyDark;
        }

        > a {
          padding: 0.5rem 0;
          width: 100%;
          cursor: auto;

          &.admin-link {
            cursor: pointer;
          }

          ul.section-order-list-item-row-list {
            display: flex;
            gap: 1rem;
            min-width: 100%;

            > li.row-list-item {
              width: 100%;
              font-size: 0.9rem;

              @include media-screen-orientation('min', $tablet) {
                font-size: 1rem;
              }

              &.order-symbol {
                min-width: 4.6rem;
                max-width: 5rem;

                > span.row-list-item-token-symbol {
                  position: relative;

                  > span.row-list-item-token-price {
                    position: absolute;
                    margin-left: 3px;
                    font-size: 0.6rem;
                    color: $greyMiddle;
                    opacity: 0.8;

                    @include media-screen-orientation('min', $mobile + 200) {
                      margin-left: 7px;
                      font-size: 0.7rem;
                      // color: red;
                    }
                  }
                }
              }

              &.uni-value-field {
                max-width: 12rem;

                > div.uni-value-field-content {
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                  gap: 1rem;

                  > span.unrealized-value {
                    color: $googleGreen;
                    opacity: 30%;
                  }

                  > span.uni-value {
                    color: $colorAccent;

                    &.color-green {
                      color: $googleGreen;
                    }
                  }
                }
              }

              &.uni-order-amount-and-turget-buy-price {
                text-align: end;
                min-width: 4.2rem;
                // background-color: palevioletred;
              }

              &.order-percent {
                text-align: end;
                max-width: 12rem;
                // background-color: palevioletred;

                &.color-green {
                  > span {
                    color: $googleGreen;
                  }
                }

                &.color-blue {
                  > span {
                    color: $googleBlue;
                  }
                }

                &.color-yellow {
                  > span {
                    color: $googleYellow;
                  }
                }
              }
            }
          }
        }
      }
    }

    > div.toggle-block {
      display: flex;
      justify-content: center;
      height: 40px;
      // background-color: teal;

      > button.toggle-button {
        background-color: transparent;

        > svg {
          transition: stroke $ease03s;
        }

        &:hover {
          > svg {
            stroke: $colorAccent;
          }
        }
      }
    }
  }
}
