@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

$mainColor: $greyDeepDark;
$mobileInitBreakpoint: $mobile - 20;

// General
section.section.strategy-order-details {
  background-color: transparent;
}

// Custom
section.strategy-order-details {
  // --- FormWrapper > FormBackdropContainer > FormContentContainer is here!

  div.section-content.strategy-order-details {
    display: flex;
    flex-direction: column;

    > div.strategy-order-details-heading {
      display: flex;
      justify-content: space-between;
      padding-top: 1rem;
      border-top: 1px solid $greyDeepDark;

      > span.details-heading-exchange {
        display: flex;
        align-items: center;
        padding: 3px 16px;
        letter-spacing: 0.5px;
        background-color: $greyDark;
        border-radius: $smallBorderRadius;

        &.BINANCE {
          background-color: $binanceColor;

          > span {
            font-weight: 600;
            color: $black;
          }
        }

        &.MEXC {
          background-color: $mexcColor;

          > span {
            color: $white;
          }
        }

        &.BYBIT {
          background-color: $bybitColor;

          > span {
            font-weight: 600;
            color: $black;
          }
        }
      }

      > span.details-heading-info-box {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.5rem;

        > span {
          font-size: 0.8rem;
          color: $greyMiddle;
        }
      }
    }

    > div.strategy-order-details-info {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      padding: 2rem 0;

      > span.strategy-order-details-info-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        > span {
          font-size: 1.4rem;

          &.details-info-key {
            padding-bottom: 2px;
            font-size: 0.8rem;
            color: $greyMiddle;
          }

          &.details-info-price,
          &.details-info-amount {
            font-weight: 500;
          }

          @include media-screen-orientation('min', $mobileInitBreakpoint) {
            font-size: 2rem;

            &.details-info-key {
              padding-bottom: 4px;
              font-size: 1.1rem;
            }
          }
        }
      }
    }

    > div.strategy-order-details-results {
      display: flex;
      gap: 1rem;
      // margin-bottom: 1rem;

      > span {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        padding: 0.7rem;
        width: 50%;
        border: 1px solid $greyDark;
        border-radius: $smallBorderRadius;

        > span {
          color: $greyMiddle;

          &:first-child {
            font-size: 0.8rem;
          }

          &:last-child {
            font-size: 0.8rem;
            font-weight: 500;
          }
        }

        @include media-screen-orientation('min', $mobileInitBreakpoint) {
          gap: 0.7rem;
          padding: 1rem 0.8rem;

          > span {
            &:last-child {
              font-size: 1.1rem;
            }
          }
        }

        /*
        &.details-results-profit {
          &.profit-color {
            > span {
              &:last-child {
                color: $googleGreen;
              }
            }
          }

          &.losses-color {
            > span {
              &:last-child {
                color: $googleBlue;
              }
            }
          }
        }
        */
      }
    }

    > div.strategy-order-details-prices {
      display: flex;
      gap: 1rem;
      padding-top: 1rem;

      > span {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        padding: 0.7rem;
        width: 50%;
        border-radius: $smallBorderRadius;
        cursor: pointer;

        &:first-child {
          border: 1px solid $googleBlue;

          > span {
            color: $googleBlue;
          }
        }

        &:last-child {
          border: 1px solid $googleGreen;

          > span {
            color: $googleGreen;
          }
        }

        > span {
          &:first-child {
            font-size: 0.8rem;
          }

          &:last-child {
            font-size: 0.8rem;
            font-weight: 500;
          }
        }

        &.details-results-profit {
          &.profit-color {
            > span {
              &:last-child {
                color: $googleGreen;
              }
            }
          }

          &.losses-color {
            > span {
              &:last-child {
                color: $googleBlue;
              }
            }
          }
        }

        @include media-screen-orientation('min', $mobileInitBreakpoint) {
          gap: 0.7rem;
          padding: 1rem 0.8rem;

          > span {
            &:last-child {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}
