@use '@/src/sass/mixins' as *;
@use '@/src/sass/base/vars' as *;

// General
section.section.strategy-history-modal,
section.section.strategy-history-modal-scrollable {
  background-color: transparent;
  // background-color: tomato;
}

// Custom
section.strategy-history-modal-scrollable {
  max-height: 500px;
  height: 100svh;
  overflow-y: scroll;
  scrollbar-width: none;
}

section.strategy-history-modal,
section.strategy-history-modal-scrollable {
  // position: relative;

  div.section-content.strategy-history-modal {
    // padding: 0;

    > ul {
      display: grid;
      gap: 0.8rem;
      // background-color: $blue;

      &.strategy-history-modal-list {
        /*
        @include media-screen-orientation('max', $tablet - 0.1) {
          padding-bottom: 2rem;
        }
        */

        > li.strategy-history-modal-list-item {
          // position: relative;
          // aspect-ratio: 1 / 1;
          display: flex;
          gap: 0.7rem;
          width: 300px;
          // border: 1px solid $googleYellow;
          // border-radius: $middleBorderRadius;

          > div.strategy-history-list-item-content-block {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            padding: 0.6rem 0.5rem 0.7rem;
            width: 100%;
            border: 1px solid $googleYellow;
            border-radius: $middleBorderRadius;
            // background-color: teal;

            > span.strategy-history-list-item-content {
              // background-color: $blue;
              display: flex;
              justify-content: space-between;
              font-size: 0.8rem;
              color: $googleYellow;

              > span {
                color: $googleYellow;
              }
            }
          }

          > div.strategy-history-list-item-controls-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            // background-color: teal;
          }
        }
      }
    }
  }
}
