@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

$mainColor: $blue;

// General
section.section.token-prices {
  background-color: transparent;
  padding-top: 0.5rem;
}

// Custom
section.token-prices {
  user-select: none;
  cursor: pointer;

  > div.section-content.token-prices {
    background-color: $googleBlueDeepDark;
    display: flex;
    flex-direction: column;
    border: 1px solid $mainColor;
    border-radius: $middleBorderRadius;

    > ul.section-token-price-list {
      display: grid;

      > li.section-token-price-list-item {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 1.4rem;

        > span.section-token-price-list-item-content {
          display: flex;
          justify-content: space-between;

          > span {
            color: $googleBlue;

            &:first-child {
              font-weight: 500;
            }
          }
        }

        > span.section-token-price-list-item-content:first-child {
          > span {
            &:last-child {
              padding-right: 1rem;
            }
          }
        }

        > span.section-token-price-list-item-content:last-child {
          border-left: 1px solid $mainColor;

          > span {
            &:first-child {
              padding-left: 1rem;
            }
          }
        }
      }
    }
  }

  @include media-screen-orientation('max', $mobile + 199.9) {
    > div.section-content.token-prices {
      > ul.section-token-price-list {
        &:last-child {
          > li.section-token-price-list-item:last-child {
            height: 0.9rem;
          }
        }
      }
    }
  }

  @include media-screen-orientation('max', $tablet - 0.1) {
    > div.section-content.token-prices {
      > ul.section-token-price-list {
        > li.section-token-price-list-item {
          > span.section-token-price-list-item-content {
            > span {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }

  @include media-screen-orientation('min', $mobile + 200) {
    > div.section-content.token-prices {
      > ul.section-token-price-list {
        grid-template-columns: 50% 50%;

        > li.section-token-price-list-item {
          &:first-child {
            padding-right: 1rem;

            > span.section-token-price-list-item-content:first-child {
              > span {
                &:last-child {
                  padding-right: 1rem;
                }
              }
            }

            > span.section-token-price-list-item-content:last-child {
              > span {
                &:first-child {
                  padding-left: 1rem;
                }
              }
            }
          }

          &:last-child {
            padding-left: 1rem;
            border-left: 1px solid $mainColor;

            > span.section-token-price-list-item-content:first-child {
              > span {
                &:last-child {
                  padding-right: 1rem;
                }
              }
            }

            > span.section-token-price-list-item-content:last-child {
              > span {
                &:first-child {
                  padding-left: 1rem;
                }
              }
            }
          }

          > span.section-token-price-list-item-content {
            display: flex;
            justify-content: space-between;
          }
        }

        &:last-child {
          > li.section-token-price-list-item {
            height: 1rem;
          }
        }
      }
    }
  }

  @include media-screen-orientation('min', $tablet) {
    > div.section-content.token-prices {
      > ul.section-token-price-list {
        > li.section-token-price-list-item {
          height: 1.7rem;
        }
      }
    }
  }
}
