@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

$mainColor: $greyDeepDark;

// General
section.section.trade-strategy {
  // background-color: transparent;
  min-height: 1rem;
  background-color: $greyDeepDarkPlus;
}

// Custom
section.trade-strategy {
  > div.section-content.trade-strategy {
    display: flex;
    flex-direction: column;

    > div.section-trade-strategy-list-heading {
      // background-color: $greyDeepDarkPlus;

      > div.section-trade-strategy-list-heading-content {
        height: 100px;

        > div.trade-strategy-calculating-set {
          height: calc(100% - 1.4rem);
          // background-color: $blue;

          > span.trade-strategy-calculating-element {
            min-height: 100%;
            color: $greyMiddle;
          }
        }
      }
    }

    > ul.section-trade-strategy-list {
      display: grid;
      margin: 0 -0.7rem -0.7rem;
      // background-color: $blue;

      > li.section-trade-strategy-list-item {
        &:first-child {
          border-top: 0.1rem solid $black;
        }

        &:not(:last-child) {
          border-bottom: 0.1rem solid $black;
        }

        &:last-child {
          > div.section-trade-strategy-list-item-content {
            border-radius: 0 0 $middleBorderRadius $middleBorderRadius;
            // background-color: red;
          }
        }

        /*
        &:first-child {
          > div.section-trade-strategy-list-item-content {
            align-items: flex-start;

            > div.trade-strategy-element-data-set {
              > span.trade-strategy-element {
                align-items: flex-start;
                padding-top: 2.5px;
                height: 27.5px;
                // background-color: $googleBlueMiddleDark;
              }
            }
          }
        }
        */

        /*
        &:last-child {
          > div.section-trade-strategy-list-item-content {
            align-items: flex-end;

            > div.trade-strategy-element-data-set {
              > span.trade-strategy-element {
                align-items: flex-end;
                padding-bottom: 3px;
                height: 27px;
                // background-color: $googleBlueMiddleDark;
              }
            }
          }
        }
        */

        > div.section-trade-strategy-list-item-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          // background-color: teal;
          background-color: $greyDeepDark;

          &.selected {
            background-color: $greyDeepDarkPlus;
          }

          > div.trade-strategy-element-data-set {
            display: flex;
            justify-content: space-between;
            width: 88%;
            max-width: 560px;

            > span.trade-strategy-element {
              display: flex;
              align-items: center;
              padding-right: 10px;
              width: 100%;
              height: 40px;
              color: $greyLight;
              opacity: 0.8;

              > span.trade-strategy-element-value {
                cursor: pointer;
                user-select: none;

                &.copied {
                  animation: copiedAnimation $ease03s;
                }
              }

              &:first-child {
                > span.trade-strategy-element-value {
                  padding-left: 0.7rem;
                }
              }

              &:not(:first-child) {
                justify-content: flex-end;
                padding-left: 5px;
              }
            }
          }

          > div.trade-strategy-element-button-box {
            width: 36px;
            height: 20px;
            // background-color: tomato;
          }
        }
      }
    }
  }

  /*
  @include media-screen-orientation('max', $mobile + 199.9) {
  }
  */

  @include media-screen-orientation('max', $tablet - 0.1) {
    > div.section-content.trade-strategy {
      > ul.section-trade-strategy-list {
        > li.section-trade-strategy-list-item {
          > div.section-trade-strategy-list-item-content {
            > div.trade-strategy-element-data-set {
              > span.trade-strategy-element {
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
  }

  @include media-screen-orientation('min', $mobile + 200) {
    > div.section-content.trade-strategy {
      > ul.section-trade-strategy-list {
        > li.section-trade-strategy-list-item {
          > div.section-trade-strategy-list-item-content {
            > div.trade-strategy-element-data-set {
              > span.trade-strategy-element {
                &:nth-child(1) {
                  width: 20%;
                }

                &:nth-child(2) {
                  justify-content: flex-end;
                  width: 38%;
                }

                &:nth-child(3) {
                  width: 42%;
                }
              }
            }
          }
        }
      }
    }
  }

  @include media-screen-orientation('min', $tablet) {
    > div.section-content.trade-strategy {
      > ul.section-trade-strategy-list {
        margin: 0 -1rem -1rem;

        > li.section-trade-strategy-list-item {
          &:first-child {
            border-top: 0.2rem solid $black;
          }

          &:not(:last-child) {
            border-bottom: 0.2rem solid $black;
          }

          /*
          &:last-child {
            > div.section-trade-strategy-list-item-content {
              align-items: flex-end;

              > div.trade-strategy-element-data-set {
                > span.trade-strategy-element {
                  height: 33px;
                  padding-bottom: 2.5px;
                }
              }
            }
          }
          */

          > div.section-trade-strategy-list-item-content {
            > div.trade-strategy-element-data-set {
              > span.trade-strategy-element {
                height: 50px;

                &:first-child {
                  > span.trade-strategy-element-value {
                    padding-left: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// --- Copy Animation:

@keyframes copiedAnimation {
  0% {
  }
  50% {
    color: $violetLight;
  }
  100% {
  }
}
