@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

$mainColor: $greyDeepDark;
$customMobile: $mobile - 30;

// General
section.section.trade-strategy-dca-plus {
  background-color: transparent;
}

// Custom
section.trade-strategy-dca-plus {
  padding-top: 0.5rem;

  > div.section-content.trade-strategy-dca-plus {
    padding: 0;

    > div.section-trade-strategy-dca-plus-values-block {
      display: flex;
      gap: 1rem;
      user-select: none;

      @include media-screen-orientation('max', $mobile + 199.9) {
        flex-direction: column;
        gap: 0.7rem;
      }

      > ul.section-trade-strategy-dca-plus-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
        width: 100%;

        @include media-screen-orientation('min', $customMobile) {
          gap: 0.7rem;
        }

        @include media-screen-orientation('min', $mobile + 200) {
          gap: 1rem;
        }

        > li.section-trade-strategy-dca-plus-list-item {
          display: flex;
          flex-direction: column;
          gap: 0.4rem;
          padding: 0.7rem;
          border: 1px solid $greyDeepDark;
          border-radius: $middleBorderRadius;

          /*
          &:not(:first-child) {
            border-color: $greyDark;

            > span {
              color: $greyDark;

              &:nth-child(1) {
                background-color: $greyDeepDark;
              }
            }
          }
          // */

          @include media-screen-orientation('min', $tablet) {
            gap: 0.4rem;
            padding: 1rem;
          }

          &.stop-loss {
            border-color: $googleRedMiddleDark;

            > span {
              color: $googleRed;

              &:nth-child(1) {
                background: $redBlackGradient;
              }
            }
          }

          &.sell {
            border-color: $googleGreenMiddleDark;

            > span {
              color: $googleGreen;

              &:nth-child(1) {
                background: $greenBlackGradient;
              }
            }
          }

          &.buy {
            border-color: $googleBlueMiddleDark;

            > span {
              color: $googleBlue;

              &:nth-child(1) {
                background: $blueBlackGradient;
              }
            }
          }

          > span {
            font-size: 0.8rem;
            color: $greyMiddle;

            @include media-screen-orientation('min', $customMobile) {
              font-size: 0.9rem;
            }

            @include media-screen-orientation('min', $tablet) {
              font-size: 1rem;
            }

            &:nth-child(1) {
              padding: 2px 4px;
              margin-bottom: 0.1rem;
              font-weight: 600;
              color: $black;
              background: $greyBlackGradient;
              border-radius: $smallBorderRadius;

              @include media-screen-orientation('min', $tablet) {
                padding: 4px 8px;
              }
            }

            &:nth-child(2) {
              font-weight: 600;
            }

            &.dca-plus-list-item-title {
              text-transform: uppercase;
            }
          }
        }
      }

      > div.trade-strategy-dca-plus-button-block {
        display: flex;
        gap: 0.8rem;
        // background-color: red;

        @include media-screen-orientation('max', $mobile + 199.9) {
          > div {
            display: none;
          }
        }

        @include media-screen-orientation('min', $mobile + 200) {
          flex-direction: column;
          gap: 1rem;

          > div {
            height: 100%;
            border: 1px solid $greyDeepDark;
            border-radius: $middleBorderRadius;
            // background-color: teal;
          }
        }

        @include media-screen-orientation('min', $tablet) {
          gap: 0.8rem;
        }
      }
    }
  }

  /*
  @include media-screen-orientation('max', $mobile + 199.9) {}
  @include media-screen-orientation('min', $mobile) {}
  @include media-screen-orientation('min', $mobile + 200) {}
  @include media-screen-orientation('min', $tablet) {}
  */

  //   @include media-screen-orientation('max', $tablet - 0.1) {
  //     > div.section-content.trade-strategy-dca-plus {
  //       > div.section-trade-strategy-dca-plus-values-block {
  //         > ul.section-trade-strategy-dca-plus-list {
  //           > li.section-trade-strategy-dca-plus-list-item {
  //             // padding: 0.7rem;

  //             // > span {
  //             //   font-size: 0.9rem;
  //             // }
  //           }
  //         }
  //       }
  //     }
  //   }

  //   @include media-screen-orientation('min', $tablet) {
  //     > div.section-content.trade-strategy-dca-plus {
  //       > div.section-trade-strategy-dca-plus-values-block {
  //         > ul.section-trade-strategy-dca-plus-list {
  //           > li.section-trade-strategy-dca-plus-list-item {
  //             padding: 1rem;

  //             > span {
  //               font-size: 2rem;
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
}

// --- Copy Animation:

@keyframes copiedAnimation {
  0% {
  }
  50% {
    color: $violetLight;
  }
  100% {
  }
}
