@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

section.user-list {
  background-color: transparent;

  > div.user-list-section-content {
    padding: 0;

    > ul.user-list-section-user-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      > li.user-list-section-list-item {
        > div.user-list-section-list-item-block-wrapper {
          display: grid;
          padding: 0.7rem;
          padding-bottom: 0.8rem;
          border: 1px solid $googleGreen;
          border-radius: $middleBorderRadius;

          > div.user-list-section-list-item-block {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            > span.user-list-section-list-item-block-value {
              display: flex;
              justify-content: space-between;
              > span {
                font-size: 0.9rem;
                color: $googleGreen;
              }
            }
          }
        }
      }
    }
  }

  // > div.clear-session-section-button-block {
  //   @include media-screen-orientation('max', $mobile + 199.9) {
  //     padding-top: 1rem;
  //     border-top: 0.05rem solid $greyDark;
  //   }
  // }

  @include media-screen-orientation('max', $mobile + 199.9) {
    > div.user-list-section-content {
      > ul.user-list-section-user-list {
        > li.user-list-section-list-item {
          > div.user-list-section-list-item-block-wrapper {
            gap: 0.5rem;

            // > div.user-list-section-list-item-block {
            //   // padding: 0;
            // }
          }
        }
      }
    }
  }

  @include media-screen-orientation('min', $mobile + 200) {
    > div.user-list-section-content {
      > ul.user-list-section-user-list {
        > li.user-list-section-list-item {
          > div.user-list-section-list-item-block-wrapper {
            grid-template-columns: 60% 40%;

            > div.user-list-section-list-item-block {
              &:first-child {
                padding-right: 0.7rem;
                border-right: 1px solid $googleGreen;
              }

              &:last-child {
                padding-left: 0.7rem;
              }
            }
          }
        }
      }
    }
  }

  @include media-screen-orientation('min', $tablet) {
    > div.user-list-section-content {
      > ul.user-list-section-user-list {
        > li.user-list-section-list-item {
          > div.user-list-section-list-item-block-wrapper {
            padding: 1rem;

            > div.user-list-section-list-item-block {
              &:first-child {
                padding-right: 1rem;
              }

              &:last-child {
                padding-left: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
