@use '@/src/sass/base/vars' as *;
@use '@/src/sass/extends' as *;
@use '@/src/sass/mixins' as *;

// ------ Custom Modals:

.customModals {
  background-color: $black;
  animation: fadeIn 0.2s;

  &.FORM {
    > div.modal {
      padding: 1rem;
      max-width: $mobile;

      // Form-Modal:
      > div.form-modal-content {
        @extend %extends-hide-scrollbar;
        position: relative;
        width: 100%;

        @include media-screen-height('max', 400px) {
          height: 100svh;
          overflow-y: scroll;
        }

        // @include media-screen-orientation('min', $tablet) {} // *
      }
    }
  }

  &.FORM_XL {
    > div.modal {
      padding: 1rem;
      max-width: $mobile;

      // Form-Modal:
      > div.form-modal-content {
        @extend %extends-hide-scrollbar;
        position: relative;
        width: 100%;

        @include media-screen-height('max', 775px) {
          height: 100svh;
          overflow-y: scroll;
        }

        > div.general-form-wrapper-full-height {
          display: flex;
          justify-content: center;
          height: 94svh;
        }
      }
    }
  }

  &.STRATEGY {
    > div.modal {
      width: 100%;
      max-width: 300px;

      > div.trade-strategy-modal-content {
        width: 100%;
        min-width: 280px;
        scrollbar-width: none;

        @include media-screen-height('max', 552px) {
          height: 100svh;
          overflow-y: scroll;
        }

        // --- TradeStrategyModalContentSection is here!
      }
    }
  }

  &.STRATEGY_HISTORY {
    > div.modal {
      width: auto;
      // padding: 1rem;
      // max-width: $mobile;

      // /*
      > div.strategy-history-modal-content {
        display: flex;
        // align-items: center;
        // width: 100%;
        // min-width: 280px;
        // height: 100svh;
        // overflow-y: scroll;
        // scrollbar-width: none;
        // background-color: teal;
        // --- LSTradeStrategyModalSection is here!

        // @include media-screen-orientation('max', $tablet - 0.1) {
        //   transform: translateY(-2rem);
        // }

        // @include media-screen-height('max', 552px) {
        //   height: 100svh;
        //   overflow-y: scroll;
        // }
        // @include media-screen-height('min', 100svh) {
        //   // height: 100svh;
        //   // overflow-y: scroll;
        // }
      }
      // */
    }
  }

  &.ORDER_DETAILS {
    > div.modal {
      padding: 1rem;
      max-width: $mobile;

      > div.strategy-order-details-modal-content {
        width: 100%;
        min-width: 280px;
        scrollbar-width: none;
        // --- StrategyOrderDetailsSection is here!

        @include media-screen-height('max', 552px) {
          height: 100svh;
          overflow-y: scroll;
        }
      }
    }
  }

  // --- Add new custom modal here:
}

// ------ Common Modal:

div.modal-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 51;

  &.fadeOut {
    animation: fadeOut 0.3s forwards;
  }

  > div.modal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  @extend .customModals;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
