@use '@/src/sass/base/vars' as *;

.gradient-progress-loader-block {
  position: fixed;
  top: 48px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: transparent;
  z-index: 1;

  .gradient-progress-bar {
    display: block;
    width: 0;
    height: 100%;
    background: linear-gradient(
      90deg,
      #34a853 0%,
      #fbbc05 33%,
      #ea4335 66%,
      #4285f4 100%
    );
    animation: fillGradientBar 305s ease-in-out forwards;
  }

  @keyframes fillGradientBar {
    0% {
      width: 0%;
      opacity: 0.5;
    }
    100% {
      width: 100%;
      opacity: 0.8;
    }
  }
}
