@use '@/src/sass/base/vars' as *;

/*
.progress-success {
  .ending-msg {
    color: green;
  }
}

.progress-failure {
  .ending-msg {
    color: red;
  }
}
*/

.progress-loader-block {
  height: 0.3rem;
  width: 9rem;

  > svg {
    width: 9rem;
  }

  .border {
    width: 9rem;
    height: 0.2rem;
    // stroke: $violetDark;
    fill: $greyDeepDarkPlus; // transparent
  }

  .filling {
    width: 9rem;
    height: 0.2rem;
    fill: $violetDark;
    animation: fillBar 3s ease-in-out 0s normal 1 forwards;
  }

  @keyframes fillBar {
    0% {
      width: 0.1rem;
    }
    30% {
      width: 3rem;
    }
    70% {
      width: 6rem;
    }
    85% {
      width: 7rem;
    }
    90% {
      width: 8rem;
    }
    95% {
      width: 8.5rem;
    }
    100% {
      width: 9rem;
    }
  }
}
